.square {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  border: 1.5px solid #000; /* Border for square box */
  margin: 7px;

  /* Add margin for spacing between square boxes */
}

.color {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.red {
  background-color: #c83232 !important;
}

.green {
  background-color: #913636 !important;
}

.blue {
  background-color: #182f6f !important;
}
