.dropdown-mobile {
  position: absolute !important;
  top: 90%;
  left: 100;
  z-index: 999;
  width: 90%;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border-top: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease all;
  padding: 17px 5px;
  border-radius: 10px;
}

.dropdown-menu-mobile ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: 0.3s ease all;
}

.dropdown-menu-mobile li {
  padding: 10px;
  cursor: pointer;
  color: black;
  width: 100%;
}

.dropdown-menu-mobile li:hover {
  background-color: #f4f4f4;
}

.dropdown-mobile.active {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0) !important;
  transition: 500ms ease !important;
}

.dropdown-mobile.inactive {
  opacity: 0 !important;
  visibility: hidden !important;
  transform: translateY(-20px) !important;
  transition: 500ms ease !important;
}

@media (max-width: 760px) {
  .img-title-card {
    white-space: nowrap;
    font-size: 7px;
  }
  .search-child-item {
    padding: 1px;
    margin: -10px 15px;
    display: flex;
    justify-content: space-between;
  }
  .card-content {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
