@import "tailwindcss";
html,
body,
#root {
  height: 100%;
}
section.content {
  background: #f4f4f4;
  -webkit-transition: 0s ease all;
  -o-transition: 0s ease all;
  -moz-transition: 0s ease all;
  transition: 0s ease all;
}
.container-fluid {
  margin: auto;
  max-width: 1500px;
  width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 85.5rem;
  padding: 0 1.5rem;
  position: relative;
  width: 100%;
}
.drag_indicator {
  cursor: move;
}

section {
  padding: 50px 10px;
}
.section_header {
  margin-bottom: 20px;
  text-align: center;
}
.section_header h3 {
  display: inline-block;
  position: relative;
}
.section_header h3:before {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 70%;
  background: var(--color-primary);
  transition:
    width 0.5s ease,
    background-color 0.5s ease;
}
.breadcrumb:before {
  font-family: "Material Symbols Outlined";
}

@media (max-width: 600px) {
  section {
    padding: 20px 0;
  }
}

/*----------------------------------------------------
    HEADER
------------------------------------------------------*/
.header_topbar {
  background-color: #5b988e;
  color: #f8f8f8;
}
.header_topbar .header_message {
  text-align: center;
  padding: 8px 0;
}
.header_topbar p {
  margin: 0;
}
.header_topbar .close {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  line-height: 0;
  color: #f8f8f8;
}
.header_topbar .close i {
  font-size: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

header {
  background-color: white;
  box-shadow: 0 3px 5px 0 rgba(210, 217, 237, 0.3);
}
header .header_center .nav-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 24%;
  grid-template-columns: 25% 50% 24%;
  grid-gap: 0 10px;
  padding: 0;
  position: relative;
  width: 100%;
}

header nav {
  background-color: #fff;
  box-shadow: none;
  width: 100%;
}
header nav,
header nav .nav-wrapper ul a.account_dropdown_trigger i {
  height: auto;
  line-height: normal;
}
header nav .nav-wrapper {
  padding: 0;
}
header nav img {
  width: 26px;
}
header nav .brand-logo {
  padding: 14px 0;
}
header nav .brand-logo img {
  width: 180px;
}
header nav .brand-logo img,
header nav img {
  vertical-align: middle;
}

header .header_search {
  max-width: 400px;
  width: 100%;
  margin: auto;
}
header .form-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
header .form-fieldset .input-group {
  display: -ms-flexbox;
  display: flex;
}
header .form-fieldset .form-input,
header .form-fieldset .form-input:focus {
  border: 2px solid var(--color-primary);
  border-right: 0;
  box-shadow: none;
  font-size: 13px;
  min-height: 49px;
  padding-left: 2rem;
  border-radius: 30px 0 0 30px;
}
header .form-fieldset .input-group-append {
  height: auto;
  line-height: normal;
}
header .form-fieldset .input-group-append button {
  background: #fff;
  border-color: var(--color-primary);
  border-width: 2px;
  border-left: 0;
  border-radius: 0 30px 30px 0;
  box-shadow: none;
  min-height: 52px;
  font-weight: 500;
  text-transform: none;
}
header .form-fieldset .input-group-append button i {
  color: #555;
  font-size: 1.5rem;
  height: 50px;
  line-height: 50px;
}

header .mobile_search .form-fieldset .form-input {
  border: 1px solid var(--color-primary);
  border-right: 0;
  box-shadow: none;
  font-size: 13px;
  height: 38px;
  min-height: auto;
  padding-left: 2rem;
  border-radius: 30px 0 0 30px;
}
header .mobile_search .form-fieldset .input-group-append button {
  background: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 0 30px 30px 0;
  box-shadow: none;
  min-width: auto;
  min-height: auto;
}

header .right_navs {
  line-height: normal;
  min-width: 260px;
  padding: 15px 0;
  position: relative;
  right: auto;
  top: auto;
  transform: none;
  z-index: 50;
}
header .right_navs ul {
  float: none;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
header .right_navs ul li {
  height: 50px;
  margin: 0 20px;
  text-align: center;
}
header nav .cart_wrapper {
  position: relative;
}
header nav .cart_wrapper .cart_items_count {
  background-color: #60432d;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  line-height: 21px;
  height: 22px;
  width: 22px;
  text-align: center;
  position: absolute;
  top: 35%;
  right: 0;
}
header nav ul a {
  color: black;
  padding: 0 8px;
}
header nav ul a.account_dropdown_trigger i {
  margin-left: 5px;
}
header nav ul a:hover {
  background-color: transparent;
}

header .header_bottombar {
  height: 30px;
  overflow: hidden;
}
header .header_bottombar nav {
  height: 30px;
}
.header_bottombar a.sidenav-trigger {
  display: block;
  height: auto;
  line-height: normal;
  margin-left: 0;
  padding: 0;
}
.header_bottombar a.sidenav-trigger img {
  width: 22px;
}
.header_bottombar nav ul a {
  font-size: 13px;
  font-weight: 500;
  padding: 5px 12px;
}
.header_bottombar nav ul > li:first-child a {
  margin-top: 3px;
}

/*
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .header_bottombar nav ul > li:nth-last-child(-n+3) {
    display: none;
  }
}
*/

#settings-dropdown li {
  line-height: normal;
}

@media (min-width: 768px) {
  .mobile_search {
    display: none;
  }
  header .right_navs ul li.cart_wrapper {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .header_topbar p {
    margin: 0 15px 0 0;
  }
  header nav,
  header nav a.sidenav-trigger,
  header nav .nav-wrapper ul.right a.account_dropdown_trigger i {
    height: auto;
    line-height: 60px;
  }

  header nav .brand-logo {
    padding: 0;
    z-index: 99;
  }
  header nav .brand-logo img {
    width: 160px;
  }
  header .right_navs {
    padding: 0;
  }
  header .right_navs ul li {
    height: auto;
  }
  header nav ul a {
    padding: 15px 8px;
  }
  header .header_search,
  header .right_navs p {
    display: none;
  }

  .mobile_search {
    display: block;
    padding-bottom: 10px;
  }
  header .mobile_search .form-fieldset .input-group-append button,
  header .mobile_search .form-fieldset .form-input {
    background: #fff;
    border-color: #b1afac;
  }
  header .mobile_search .form-fieldset .input-group-append button {
    border-left: 0;
    border-width: 1px;
  }
  header .mobile_search .form-fieldset .input-group-append button i {
    color: #555;
    font-size: 1.5rem;
    height: 38px;
    line-height: 38px;
  }
}

/*----------------------------------------------------
    NAVIGATION MENU
------------------------------------------------------*/
#navigation_menu .menu_header a,
#navigation_menu .menu_header a i {
  color: var(--color-primary);
}

#navigation_menu .stack-menu__link {
  font-weight: normal;
  height: auto;
  line-height: normal;
  padding: 14px 20px;
}

.sidenav li > a:hover {
  background-color: var(--color-primary);
}

main {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.block-title {
  font-size: 24px;
  margin: 0 0 20px;
  position: relative;
  line-height: 120%;
  letter-spacing: -1px;
}
.block-title span {
  display: inline-block;
  background: #f5f6f9;
  position: relative;
  z-index: 11;
  padding-right: 15px;
}
.block-title:before {
  content: "";
  background-color: #e4e7f0;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0px;
}

.block-title-2 {
  font-size: 24px;
  margin: 35px 0 20px;
  position: relative;
  line-height: 120%;
  letter-spacing: -1px;
}
.block-title-2 span {
  display: inline-block;
  background: #f5f6f9;
  position: relative;
  z-index: 11;
  padding-right: 15px;
}
.block-title-2:before {
  content: "";
  background-color: #e4e7f0;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0px;
}

/*----------------------------------------------------
    HOMEPAGE
------------------------------------------------------*/
.homepage {
  background: #f5f6f9;
}
section.hero_section {
  margin-bottom: 30px;
}
.hero_section .slides_container {
  overflow: hidden;
  width: 1px;
  min-width: 100%;
}

.hero_swiper {
  position: relative;
}
.hero_swiper .swiper-container {
  width: 100%;
  height: 100%;
}
.hero_swiper .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.hero_swiper .swiper-button-next,
.hero_swiper .swiper-button-prev {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}
.hero_swiper .swiper-button-prev {
  left: 0;
}
.hero_swiper .swiper-button-next {
  right: 0;
}
.hero_swiper .swiper-button-next:after,
.hero_swiper .swiper-button-prev:after {
  font-size: 2rem;
}
.swiper-pagination-bullet-active {
  background: var(--color-primary);
}

.new_products,
.categories {
  position: relative;
}
.new_products .navigation,
.categories .navigation {
  background: #f5f6f9;
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 80px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000;
  top: 42%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem;
}
.module_wrapper {
  margin-bottom: 50px;
}
.offers .row {
  margin-right: -0.8rem;
  margin-left: -0.8rem;
}

.see-more-text:hover {
  transition: 0.4s ease;

  text-decoration: underline;
}

.continue-shopping-images {
  display: grid;
}
.continue-shopping-images img {
  width: 18px;
}
.continue-shopping-subtitle {
  font-size: 10px;
}

.card-mini {
  box-shadow: none;
}
.card-mini-more-options {
  height: 165px !important;
}
.continue-shop-main-title {
  margin: 0px 20px;
}

.review-card-shop {
  box-shadow: none;
}

.video-container {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}

.group-button {
  border: none;
  /* background-color: #fff; */
  margin: 5px 0px;
}

.card-group-btn {
  display: flex;
  gap: 0px;
}

.grid_view_icn {
  font-size: 20px;
  padding: 5px;
}

.grp-btn-main-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.view-as-text span {
  font-weight: 500;
}

/*----------------------------------------------------
    CART PRODUCT
------------------------------------------------------*/
.cart-product-title {
  text-decoration: none;
  color: var(--price-tags-cart-items);
}

.card-heading-title {
  text-decoration: none;
  color: var(--price-tags-cart-items);
}

.cart-product-author {
  font-size: 14px !important;
  line-height: 20px !important;
  margin-bottom: 1rem !important;
}
.image-product-cart {
  margin: 10px 10px;
}
.zero-placement {
  font-size: 15px;
  position: absolute;
  top: -4px;
  right: 10px;
  left: 52px;
  color: #a8a7a7;
}
.final-price {
  font-size: 16px;
  /* margin: 10px; */
  font-weight: 800;
  color: #45968f;
}

.price-content {
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
}

.card-box {
  box-shadow: none;
}
.card-price-tags {
  margin: 25px 20px;
}

.remove-btn-cart-product {
  border-top: none !important;
  padding: 0 6px !important;
  margin: 16px !important;
}

.btn-cart-remove {
  display: flex !important;
  gap: 4px !important;
}

.quantity-soldby-div {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.quantity-label {
  margin: -8px 1px;
}

/*----------------------------------------------------
    CART ITEMS
------------------------------------------------------*/

.subtotal-items {
  border-top: 1px solid #e4e7f0;
  display: flex;
  justify-content: end;
}

.subtotal-items-text {
  margin-top: 9px;
}

.subtotal-items-ranges {
  margin-top: 9px;
}

.subtotal-items-price-range {
  font-size: 18px;
  margin: 10px;
  font-weight: 600;
  color: var(--price-tags-cart-items);
}

.text-items {
  font-size: 18px;
  font-weight: 400;
  margin: 1px;
}

.cartItemsBlock-heading {
  border-bottom: 1px solid #e4e7f0;
  display: block;
  padding-bottom: 10px;
  margin: 20px 10px;
  position: relative;
}

.cartItemsBlock-heading:before {
  content: "";
  background-color: #cd3446;
  height: 3px;
  width: 59px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.subtotal-items-price {
  padding: 10px !important;
}
.chips {
  margin-bottom: 20px;
  border-bottom: none !important;
}
.chip {
  background-color: #e0e0e0;
  color: #333;
  margin-right: 10px;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  height: 40px !important;
}

.chip:hover {
  background-color: #ccc;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.proceed-to-buy-btn {
  background-color: #f7ca00;
}

.proceed-to-buy-btn:hover {
  background-color: #f7ca00;
  transition: all 0.3;
}

.proceed-to-buy-btn:focus {
  background-color: #f7ca00;
}

.proceed-to-buy-action {
  border-top: none !important;
  padding: 13px 0px !important;
}
.collapsible-emi-available {
  box-shadow: none !important;
}
.checkout-price-range {
  font-size: 18px;
  font-weight: 600;
  color: #544f4f;
}
.checkout-price-main-text {
  font-size: 18px;
  font-weight: 600;
  color: #544f4f;
}

.related-product-image {
  margin: 10px 10px;
}
.related-products-list-main-card {
  padding: 13px !important;
}
.btn-add-to-cart-checkout {
  background-color: #f7ca00 !important;
}
.content-related-products-body {
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}
.list-items-related-products {
  list-style: none !important;
  margin: 0px -11px;
}
.star-filled {
  color: gold !important;
  cursor: pointer;
  font-size: 15px;
}
.star-empty {
  color: #ccc;
  font-size: 15px;
  cursor: pointer; /* Set the color for empty stars */
}
.learn-more-checkout-accordion {
  font-weight: 800;
  color: var(--price-tags-cart-items);
  cursor: pointer;
}
.learn-more-checkout-accordion:hover {
  text-decoration: underline;
}
.checkout-accordion-body {
  padding: 1rem !important;
}
.related-products-list-main-card p {
  color: #0e0c0c;
  margin: 10px 0px !important;
}

.checkout-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 10px;
  /* gap: 50px; */
}

.btn-checkout button {
  border-radius: 30px;
  background-color: #666666 !important;
}

.btn-view-cart button {
  border-radius: 30px;
  background-color: #ffbf17 !important;
}

.btn-checkout:hover button {
  background-color: #007bff !important;
  transition: background-color 0.3s ease;
  opacity: 0.8;
}

.btn-view-cart:hover button {
  background-color: #ffbf17 !important;
  transition: background-color 0.3s ease;
  opacity: 0.8;
}
.cart-img {
  cursor: pointer;
}
/*----------------------------------------------------
    PRODUCT WIDGET
------------------------------------------------------*/
.product_widget .card,
.category_widget .card {
  box-shadow: none;
  margin: 0;
}
.product_widget .card:hover,
.category_widget .card:hover {
  -webkit-box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.1);
}
.product_widget .card .card-image {
  background-color: #f4f4f4;
  border-radius: 15px;
  display: block;
}
.product_widget .card .card-image img {
  border-radius: 0px;
}
.product_widget .card .image_wrapper {
  position: relative;
  overflow: hidden;
}
.product_widget .card .btn_favourite {
  background-color: rgba(255, 255, 255, 0.65);
  color: var(--color-primary);
  border: none;
  border-radius: 50px;
  box-shadow: none;
  height: 35px;
  width: 35px;
  padding: 0;
  position: absolute;
  top: 5px;
  right: -50px;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.product_widget .card .btn_favourite i {
  font-size: 1.35rem;
  line-height: 35px;
  vertical-align: middle;
}
.product_widget .card .btn_favourite.filled {
  color: #f44336;
  right: 5px;
}
.product_widget .card:hover .btn_favourite {
  right: 5px;
}
.product_widget .card .card-action {
  padding: 5px 0 16px 0;
  text-align: center;
}
.product_widget .card .card-action a,
.category_widget .card .card-action a {
  color: black !important;
  font-size: 1rem;
  margin-right: 0 !important;
}
.category_widget .card .card-action {
  border: none;
}
.category_widget .card .card-action a {
  font-weight: 500;
  text-transform: none !important;
}

.product_widget .card .product_price .price {
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
}
.product_widget .card .product_price del {
  color: #888888;
  margin-left: 3px;
}
.product_widget .card .discount_percent {
  color: #388e3c;
  font-weight: 600;
}
.product_widget .widget_buttons {
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
}

.add-to-cart-btn {
  font-size: 11px;
}
.shopping-cart-icon {
  font-size: 13px !important;
}
.product_widget .widget_buttons .btn_cart,
body.product_description .action_buttons .btn_cart {
  background-color: #ffffff;
  color: var(--color-primary);
  border: 1px solid #d3baa8;
  box-shadow: none;
  position: absolute;
  left: -200px;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
body.product_description .action_buttons .btn_cart:hover,
body.product_description .action_buttons .btn_favourite:hover {
  border: 1px solid var(--color-primary);
}
body.product_description .action_buttons .btn_cart {
  font-size: 1.1rem;
  position: inherit;
  margin-right: 10px;
}
.product_widget .widget_buttons .btn_cart:before,
body.product_description .action_buttons .btn_cart:before {
  content: "shopping_bag";
  font-family: "Material Symbols Outlined";
  font-size: 1.25rem;
  float: left;
  margin-right: 5px;
}
.product_widget .widget_buttons .btn_cart:after,
body.product_description .action_buttons .btn_cart:after {
  content: "Add to Bag";
}
.product_widget .widget_buttons .btn_cart.added:before,
body.product_description .action_buttons .btn_cart.added:before {
  content: "close";
  font-family: "Material Symbols Outlined";
  font-size: 1.25rem;
  float: left;
  margin-right: 5px;
}
.product_widget .widget_buttons .btn_cart.added:after,
body.product_description .action_buttons .btn_cart.added:after {
  content: "Remove";
}
body.product_description .action_buttons .btn_cart.update:after {
  content: "Update";
}
.product_widget .card:hover .btn_cart {
  left: 0;
}

@media (max-width: 1200px) {
  .product_widget .card .btn_favourite {
    right: 5px;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  .product_widget .card .btn_cart {
    left: 0;
  }
}

@media (max-width: 600px) {
  .grid-container.col-250 {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .grid-container.gap-20 {
    grid-gap: 15px;
  }
  .product_widget .card .btn_favourite i {
    line-height: 34px;
  }
  .btn i {
    margin-left: 2px !important;
  }
}

/*----------------------------------------------------
    FOOTER
------------------------------------------------------*/
footer {
  background-color: #394150;
  padding: 0;
}
footer .brand_section {
  border-bottom: 1px solid #49392b;
  text-align: center;
}
footer .logo {
  max-width: 180px;
}
footer .social_icons {
  display: flex;
  margin: auto;
  max-width: 250px;
  padding: 15px 0;
}
footer .social_icons li a {
  padding: 0 15px;
}
footer .social_icons li a img {
  opacity: 0.6;
  width: 30px;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
footer .social_icons li a:hover img {
  opacity: 1;
}
footer h5 {
  color: #eee;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-top: 15px;
}
footer p {
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1rem;
  text-align: justify;
}
footer .links_section {
  color: #ccc;
  padding-top: 20px;
}
footer .links_section .links {
  margin: 0;
}
footer .links_section .links a {
  color: #ccc;
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 5px 0;
}
footer .links_section .address {
  color: #9da3af;
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 10px;
}
footer .links_section address {
  font-style: normal;
  line-height: normal;
}

footer .categories ul {
  display: flex;
}
footer .categories ul li:after {
  content: "|";
  padding: 0 5px;
}
footer .categories ul li:last-child:after {
  content: "";
}
footer .categories ul li a {
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 300;
}
footer .footer_center {
  border-top: 1px solid #4d5462;
  padding: 30px 0 15px;
  text-align: center;
}
footer .footer_center p a {
  color: #9da3af;
  text-align: center;
}

footer .copyright {
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}

@media (max-width: 600px) {
  footer h5 {
  }
  footer .products h5,
  footer .categories h5 {
    margin-top: 0;
  }
  footer .copyright {
    margin-top: 10px;
  }
}
/*----------------------------------------------------
    LOGIN
------------------------------------------------------*/
.login {
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.login .card {
  padding: 20px;
  min-height: 400px;
  max-width: 400px;
  border-radius: 20px;
  width: 100%;
}
.login .default_header {
  margin-bottom: 20px;
  text-align: center;
}
.login .card .default_header h4 {
  color: #000;
  font-weight: 400;
}
.login .card .default_header .profile-image-login {
  margin-bottom: 10px;
  max-width: 150px;
  width: 100%;
}
.login-form .form-group h4 span {
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 50px;
  padding: 5px 10px 8px;
}
.login-form p.title {
  color: #484848;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.login-form .form-group input.mobile,
.login-form .form-group .input-group-text {
  font-size: 1.2rem;
  height: 3.5rem;
}
.login-form .form-group .edit_number {
  color: #666;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
}
.login-form .form-group .edit_number a.link {
  font-size: 0.85rem;
  position: absolute;
  right: 0;
  top: 5px;
}
.login .card figure,
.otp_group figure {
  display: inline;
  line-height: normal;
  margin: 0;
}

.otp_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp_input {
  width: auto;
  height: 40px;
  font-size: 1.5rem !important;
  margin: 0 5px !important;
  text-align: center;
}

.otp_input:focus {
  outline: none;
  border-color: #007bff;
}

.login-form .resend_otp .resend_link {
  display: inline-block;
  float: right;
}

.login-form .rounded {
  border-radius: 50px;
}
.login-form .loader {
  text-align: center;
}

.login-form .forgot-password-btn {
  position: absolute;
  right: 10px;
  top: 15px;
}

@media (min-width: 800px) {
  #login-page .card {
    min-width: 400px;
  }
}

/*----------------------------------------------------
    REGISTER
------------------------------------------------------*/
.register-person-icon {
  font-size: 30px;
  color: #fff;
}

.register-visibility-off-icon {
  font-size: 30px;
  color: #fff;
}

/*----------------------------------------------------
    CATEGORY PAGE
------------------------------------------------------*/
body.category .categories_wrapper {
  background-color: #f9ebe0;
}
.categories_wrapper .category_widget {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}
.categories_wrapper .category_widget h5 {
  margin: 0;
}
body.category pre {
  font-family: "Crimson Pro", sans-serif;
  line-height: 1.2rem;
  white-space: pre-wrap;
}

.title-header-category {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-header-category {
}

/*----------------------------------------------------
    PRODUCT DESCRIPTION PAGE
------------------------------------------------------*/
.bread-crumbs-container {
  padding: 1.2rem 0rem;
}

.prd-list {
  padding-bottom: 1rem;
}

.active-icon {
  color: green;
}

.no-shadow {
  box-shadow: none !important;
}

.body-list {
  border-bottom: none;
  padding: 1rem !important;
}

nav.page-crumb,
nav.page-crumb .nav-wrapper {
  background-color: transparent;
  box-shadow: none;
  height: 18px;
  line-height: 18px;
}
nav.page-crumb .nav-wrapper .row .col {
  padding: 0 !important;
}
nav.page-crumb .breadcrumb {
  color: #7f7f7f;
  font-size: 0.9rem;
}
nav.page-crumb .breadcrumb i {
  font-size: 1.2rem;
  height: auto;
  line-height: 1;
}
nav.page-crumb .breadcrumb:before {
  color: #7f7f7f;
  font-size: 14px;
  line-height: 23px;
  margin: 0;
}
nav.page-crumb .breadcrumb:last-child {
  cursor: auto;
}

.product_description .carousel_wrapper .main_image img {
  max-width: 850px;
  width: 100%;
  position: relative;
}
.product_description .carousel_wrapper img {
  border-radius: 15px;
}
.product_description .carousel_wrapper .slides {
  display: flex;
}
.product_description .carousel_wrapper .slides img {
  border-radius: 10px;
  margin-right: 10px;
  width: 70px;
}
.product_description h1 {
  font-size: 2rem;
  margin-bottom: 0.65rem;
}

.product_description .product_price {
  margin: 15px 0;
  display: flex;
  gap: 6px;
}

.product_description .product_price .price {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: line-through;
}
.product_description .product_price .discount_percent {
  color: #4caf50;
  font-size: 1.5rem;
  font-weight: 600;
}

.product_description .action_buttons {
  margin: 20px 0;
  display: flex;
  gap: 12px;
}
.product_description .action_buttons .btn_favourite {
  background-color: #ffffff;
  color: var(--color-primary);
  border: 1px solid #d3baa8;
  box-shadow: none;
}
.product_description .action_buttons .btn_favourite i {
  font-size: 1.35rem;
  line-height: 35px;
  vertical-align: middle;
}
.product_description .action_buttons .btn_favourite.filled {
  color: #f44336;
  right: 5px;
}
.product_description .quantity-input,
.cart .quantity-input {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 110px;
}

.product_description .quantity-btn,
.cart .quantity-btn {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  color: #333;
}

.product_description .quantity,
.cart .quantity {
  border: 0.1px solid #c8c1c1 !important;
  font-size: 1.2rem;
  height: 28px !important;
  margin: 0.5rem !important;
  text-align: center;
  width: 50px !important;
}
.product_description .quantity:focus,
.cart .quantity:focus {
  border: 0.1px solid #c8c1c1 !important;
  box-shadow: none !important;
}
.product_description .description {
  color: #555;
  font-size: 1.1rem;
}
.product_description .description h5 {
  margin-bottom: 5px;
}
.product_description .description ol {
  margin: 0;
  padding-left: 15px;
  margin-bottom: 20px;
}
.product_description .related_products {
  background-color: #f9ebe0;
}

.user-circle {
  width: 48px;
  height: 48px;
}
.modal-customer-footer {
  display: block;
}
.modal-customer-footer h4 {
  margin: 10px;
}
.img-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-modal img {
  width: 200px;
}
.logo-customer-reviews {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  gap: 56%;
}
.logo-customer-reviews img {
  width: 130px;
}

.close-btn-modal {
  border: none;
  background: none;
}

.material-symbols-filled {
  background-color: red;
}

.quantity-input-number {
  border-radius: 50px !important;
}

@media (max-width: 600px) {
  .product_description h1 {
    margin-top: 1rem;
  }
}

@media (max-width: 460px) {
  .product_description .action_buttons {
    display: block;
  }
  .product_description .action_buttons .btn {
    width: 100%;
    margin: 5px 0px;
  }
}

/*----------------------------------------------------
    CART PAGE
------------------------------------------------------*/
.cart .empty_cart,
.wishlist .empty_cart {
  padding: 50px 0;
  text-align: center;
}
.cart .empty_cart .empty_bag {
  margin-bottom: 20px;
  width: 120px;
}
.cart_details_wrapper .cart_widget,
.cart_details_wrapper .wishlist_product {
  color: #333;
  display: flex;
  margin-bottom: 20px;
}
.cart_details_wrapper p,
.checkout-page-wrapper p {
  line-height: 24px;
}
.cart_details_wrapper .cart_items {
  border-right: 1px solid #ddd;
  min-height: 450px;
}
.cart_details_wrapper .cart_widget .product-pic,
.wishlist_product .product-pic {
  margin-right: 20px;
  position: relative;
}
.cart_details_wrapper .cart_widget .product-pic img {
  border-radius: 15px;
  width: 120px;
}
.cart_details_wrapper .cart_widget .product-pic a {
  display: block;
}
.wishlist_product img {
  width: 120px;
}
.cart_details_wrapper .cart_widget .product_name {
  color: #333;
  display: block;
}
.cart_details_wrapper .cart_widget .price {
  font-weight: 600;
  margin-right: 5px;
}
.cart_details_wrapper .cart_widget .discount {
  color: #388e3c;
  font-weight: 600;
}
body.cart .quantity-input {
  margin-top: 10px;
}
.cart_details_wrapper .cart_widget .cart_actions {
  display: flex;
  justify-content: space-between;
}
.cart_details_wrapper .cart_widget .cart_actions a {
  color: #888;
}
.order_summary table tr td {
  border: none;
  padding-left: 0;
}
.order_summary table tr {
  border: none;
}
.order_summary table tr.you_pay_row {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  color: #49392b;
  font-size: 20px;
  font-weight: 600;
}
.order_summary .price_details {
  max-width: 300px;
}
.order_summary .price_details table td {
  color: #333;
}
.order_summary .price_details .add-more-worth {
  color: #e91e63;
}

@media (max-width: 1000px) {
  .cart_details_wrapper .cart_items {
    border-right: 0px solid #ddd;
    min-height: auto;
  }
}

/*----------------------------------------------------
    CHECKOUT PAGE
------------------------------------------------------*/
body.checkout .collapsible,
body.my_profile .collapsible {
  box-shadow: none;
  margin: 0;
}
body.checkout .collapsible .collapsible-header {
  font-weight: 600;
}
body.checkout .collapsible .collapsible-body {
  padding: 1rem 1.5rem;
}
.collapsible .delivery_addresses li {
  color: #333;
  margin-bottom: 25px;
  position: relative;
}
.collapsible .delivery_addresses li:last-child {
  margin-bottom: 0px;
}
.collapsible li .address_type {
  color: #ff9800;
}
.collapsible li .action_buttons {
  margin-top: 10px;
  position: relative;
}
.collapsible li .edit_btn {
  position: absolute;
  right: 0;
  top: 0;
}
body.checkout .collapsible .collapsible-body .payment_options label {
  display: block;
  padding: 10px 0;
}
body.checkout .collapsible .collapsible-body .payment_options span.name {
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
}
body.checkout .collapsible .collapsible-body .payment_options span > span.desc {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  color: #666;
}

.shadow-none-collap {
  box-shadow: none;
  border: none;
}
.card-header-details-in-order-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.edit-cart {
  color: #007bff;
  cursor: pointer;
}
.order-summary-img {
  width: 60px;
  height: 60px;
}
.items-number-cart {
  margin: 20px 10px;
}
.img-and-final-price {
  display: flex;
  justify-content: space-between;
}
.items-on-order {
  width: 150px;
  font-size: 13px;
  cursor: pointer;
}
.size-items {
  font-size: 12px;
  color: #757575;
}
.second-half-summary {
  margin-bottom: 20px;
}
.third-half-summary {
  margin-bottom: 20px;
  margin-top: 20px;
}
.fourth-half-summary {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.subtotal-summary-order {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.coupon-gift-text {
  font-weight: 600;
  color: #007bff;
  cursor: pointer;
  font-size: 13px;
}
.shop-text {
  font-size: 14px;
}
.text-and-size {
  display: flex;
}

.input-field-order-checkout {
  background-color: #fff;
  border-color: #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 255, 0);
  color: #333;
}
.collapsible-card-body {
  padding: 1.5rem !important;
  border-bottom: none !important;
}
.collapsible-card-header {
  border-bottom: none !important;
  display: flex;
  justify-content: space-between;
}

/*----------------------------------------------------
    ORDER CONFIRMATION PAGE
------------------------------------------------------*/
body.order_confirmation section {
  padding-top: 0;
}
body.order_confirmation .animation {
  position: relative;
  text-align: center;
}
body.order_confirmation .animation h3 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
body.order_confirmation .saved {
  color: #388e3c;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
}

/*----------------------------------------------------
    MY ORDERS
------------------------------------------------------*/
body.orders .orders_list a {
  display: flex;
}
body.orders .orders_list .product_pic {
  margin-right: 20px;
}
body.orders .orders_list .product_pic img {
  border-radius: 10px;
  width: 70px;
}
body.orders .orders_list .order_item {
  color: #444;
  margin-right: 20px;
}
body.orders .orders_list .order_status {
  font-weight: 600;
}
body.orders .orders_list .order_status.processing {
  color: #db870c;
}
body.orders .orders_list .order_status.shipped {
  color: #0275d8;
}
body.orders .orders_list .order_status.delivered {
  color: #4caf50;
}
body.orders .orders_list .order_status.cancelled {
  color: #ff5722;
}
body.orders .orders_list a.load-more {
  display: block;
  font-size: 1.2rem;
}

.tabs_wrapper {
  position: relative;
}
.tabs_wrapper.stick {
  position: fixed;
  top: 100px;
}
ul.my_account_tabs {
  background-color: #fffcfa;
  border-left: 1px solid #ffedc5;
  margin: 0;
  padding: 10px;
  width: 300px;
}
ul.my_account_tabs li a {
  color: #777;
  display: block;
  padding: 10px 0;
}
ul.my_account_tabs li:first-child a {
  padding-top: 0;
}
ul.my_account_tabs li.active a,
ul.my_account_tabs li a:hover,
ul.my_account_tabs li.active a i {
  color: var(--color-primary);
  font-weight: 600;
}
ul.my_account_tabs li.active a i {
  font-weight: 400;
}
ul.my_account_tabs li a i {
  color: #999;
}

/*----------------------------------------------------
    ORDER DETAILS PAGE
------------------------------------------------------*/
.order_details {
  background-color: #f4f4f4;
}
.order_details .card-panel {
  box-shadow: none;
  margin-bottom: 0;
}
.order_details .row {
  margin-bottom: 0;
}
.order_details .order_progress {
  min-height: 325px;
  position: relative;
}
.order_details .action_buttons {
  display: flex;
  margin: 0;
}
.order_details .action_buttons li a {
  display: block;
  margin-left: 30px;
}
.order_details .order_progress .tracking_details {
  position: absolute;
  left: 50%;
  top: 15px;
}
.order_details .order_progress .tracking_details dt {
  color: grey;
}
.order_details .order_progress .tracking_details dd {
  color: black;
  margin-left: 0;
  margin-bottom: 20px;
}

.order_details .product_list .product {
  display: flex;
  margin-bottom: 10px;
}
.order_details .product_list .product_pic {
  margin-right: 20px;
}
.order_details .product_list .product_pic img {
  border-radius: 10px;
  width: 70px;
}
.order_details .product_list .order_item {
  color: #444;
  margin-right: 20px;
}
.order_details .order_summary {
  min-height: 325px;
}
.order_details .order_summary label {
  font-size: 1rem;
  min-width: 120px;
  display: inline-block;
}
.order_details .order_summary span {
  min-width: 80px;
  display: inline-block;
  text-align: right;
}

@media (max-width: 992px) {
  .order_details .order_progress .tracking_details {
    position: static;
    right: auto;
    top: auto;
  }
}
/*----------------------------------------------------
    VERTICAL TIMELINE FOR ORDER STATUS
------------------------------------------------------*/
.step_progress_wrapper.vertical {
  padding-left: 20px;
  width: 350px;
}
.step_progress_wrapper.vertical ul.step_progress {
  color: #777;
  position: relative;
  padding-left: 45px;
  list-style: none;
  margin-bottom: 40px;
}
.step_progress_wrapper.vertical .step_progress::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 1px;
  left: 18px;
  width: 10px;
  height: 100%;
  border-left: 3px solid #ccc;
}
.step_progress_wrapper.vertical .step_progress_item {
  min-height: 60px;
  position: relative;
}
.step_progress_wrapper.vertical .step_progress_item:last-child {
  min-height: 0px;
}
.step_progress_wrapper.vertical .step_progress_item label {
  font-size: 1rem;
  display: block;
  position: absolute;
}
.step_progress_wrapper.vertical .step_progress_item:not(:last-child) {
  padding-bottom: 50px;
}
.step_progress_wrapper.vertical .step_progress_item::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 1px;
  left: -27px;
  height: 100%;
  width: 10px;
}
.step_progress_wrapper.vertical .step_progress_item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -41px;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.step_progress_wrapper.vertical .step_progress_item.completed {
  color: #000;
}
.step_progress_wrapper.vertical .step_progress_item.completed::before {
  border-left: 3px solid green;
}
.step_progress_wrapper.vertical .step_progress_item.completed::after {
  content: "check";
  font-family: "Material Symbols Outlined";
  font-size: 22px;
  color: #fff;
  text-align: center;
  border: 2px solid green;
  background-color: green;
  line-height: 25px;
}
.step_progress_wrapper.vertical .step_progress_item.completed.cancelled::after {
  background-color: #f14656;
  border: 2px solid #f14656;
}
.step_progress_wrapper.vertical .step_progress_item.completed.returned::after {
  background-color: #efb104;
  border: 2px solid #efb104;
}
.step_progress_wrapper.vertical .step_progress_item.completed.returned::before {
  border-left: 3px solid #efb104;
}

/*----------------------------------------------------
    HORIZONTAL TIMELINE FOR ORDER STATUS
------------------------------------------------------*/
.step_progress_wrapper.horizontal {
}
.step_progress_wrapper.horizontal ul.step_progress {
  color: #777;
  list-style: none;
  position: relative;
  padding: 20px 0px 0px 0px;
  display: inline-block;
  margin-bottom: 0;
}
.step_progress_wrapper.horizontal ul.step_progress::before {
  background-color: #ccc;
  position: absolute;
  content: " ";
  height: 2px;
  top: auto;
  bottom: 32px;
  left: 66px;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.step_progress_wrapper.horizontal .step_progress_item {
  display: table-cell;
  min-width: 180px;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  position: relative;
  line-height: normal;
  margin: 0 auto;
  text-align: center;
}
.step_progress_wrapper.horizontal .step_progress_item label {
  font-size: 1rem;
  margin-top: 20px;
  display: block;
  height: 34px;
}
.step_progress_wrapper.horizontal .step_progress_item.completed::before {
  border-bottom: 3px solid green;
  content: "";
  position: absolute;
  top: 0px;
  left: 77px;
  width: 100%;
}

.step_progress_wrapper.horizontal .step_progress_item:last-child::before {
  border-bottom: 4px solid white;
  content: "";
  position: absolute;
  top: 0px;
  left: 77px;
  width: 100%;
}

.step_progress_wrapper.horizontal .step_progress_item::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 38px;
  left: 66px;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.step_progress_wrapper.horizontal .step_progress_item.completed::after {
  content: "check";
  font-family: "Material Symbols Outlined";
  font-size: 22px;
  color: #fff;
  text-align: center;
  border: 2px solid green;
  background-color: green;
  line-height: 27px;
}
.step_progress_wrapper.horizontal .step_progress_item.completed {
  color: #000;
}

/*----------------------------------------------------
    Browse Sidebar 
------------------------------------------------------*/

.sidebar-wrapper .sidebarBlock-heading {
  font-size: 18px;
  border-bottom: 1px solid #e4e7f0;
  display: block;
  padding-bottom: 10px;
  margin: 0 0 15px;
  position: relative;
}

.title-department-sidemenu {
  border-bottom: 1px solid #e4e7f0;
  display: block;
  padding-bottom: 10px;
  margin: 0 0 15px;
  position: relative;
  font-weight: 400;
}

.sidebar-wrapper .sidebarBlock-heading:before {
  content: "";
  background-color: #cd3446;
  height: 2px;
  width: 59px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.sidebar--categories ul.navList .navList-item {
  position: relative;
  box-shadow: none;
  background: 0 0;
  border-bottom: 1px solid #d9d9d9;
}

.sidebar--categories ul.navList .navList-item > .navList-action {
  padding: 4px 0;
  display: block;
}

.navList span {
  cursor: pointer;
}

.newList-nav {
  margin-left: 23px !important;
  padding: 0 0 10px 0 !important;
}

.navList-subMenu-item .navList-action::before {
  content: "\26AB";
  color: transparent;
  text-shadow: 0 0 0 #999;
  font-size: 6px;
  padding-right: 10px;
  vertical-align: middle;
}

.newList-subNav {
  padding: 3px 0px !important;
}

.product-item-container {
  position: relative;
  background: #fff;
  border-radius: 3px;
  /* padding: 15px; */
}

.product-item-container .card .card-image {
  background-color: #f4f4f4;
  border-radius: 15px;
  display: block;
}
.product-item-container .card .card-image img {
  border-radius: 0px;
}

.btn .browse-card-fav-icon {
  margin-left: 0px !important;
}

.browse-card {
  margin-bottom: 1.5rem !important;
}

.recommended-btn {
  margin: 10px 10px;
}

.chip-browse-content {
  border-radius: 5px !important;
}

.navList-subMenu-item {
  transition: 0.3s ease-in !important;
}

.link-category-title {
  color: var(--color-secondary);
  cursor: pointer;
  outline: none;
  text-decoration: none;
  margin: 5px 0px;
}

.side-bar-menu-2-title {
  padding: 4px 0px !important;
}

.category-subNav {
  padding: 0px 0px !important;
}

.link-category-title:hover {
  transition: color 0.3s ease-in !important; /* Apply transition to color property */
  color: #f08c16 !important;
}

.dropdown {
  margin: 5px 0;
}

.navList {
  cursor: pointer;
  position: relative;
  padding: 1px;
  /* background-color: #f0f0f0; */
  border-radius: 5px;
}

.navList:hover {
  transition: color 0.3s ease;
  color: #6f80a4;
}

.icon {
  position: absolute !important;
  right: 10px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  transition: transform 0.3s ease !important;
}

.icon.open {
  transform: translateY(-50%) rotate(180deg) !important;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.dropdown-content.open {
  max-height: 500px !important; /* Adjust as needed */
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 760px) {
  .browse-wrapper {
    display: none;
  }
}

/*----------------------------------------------------
    Loader image
------------------------------------------------------*/
.cen-align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh; /* Adjust the height as needed */
}

#centered-image {
  max-height: 80%; /* Ensure image doesn't exceed container height */
  width: auto;
  height: 60px;
}

/*----------------------------------------------------
    Side menu - Your Account
------------------------------------------------------*/

.hmenu-header-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.hmenu-header-top #hmenu-header-account-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 0px 20px;
  gap: 10px;
}

/*----------------------------------------------------
    Browse Page - Filter button
------------------------------------------------------*/

.filter-button {
  display: none;
}

.filter-side-nav {
  z-index: 0 !important;
}

.apparel-icon {
  margin: 7px 7px !important;
}

.sell-filter-icon {
  margin: 7px 7px !important;
}

@media (max-width: 760px) {
  .filter-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    /* background-color: #cd3446;
    color: rgb(255, 255, 255); */
    position: fixed;
    z-index: 100;
    right: 16px;
    bottom: 17px;

    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px; */

    min-width: 48px;
    padding: 0px 12px;
    border-radius: 24px;
    border: 1px;
  }
  .filter-icon {
    font-size: 20px;
  }
  .sidenav-overlay {
    z-index: 2 !important;
  }
  .price-range-side-nav {
    margin: 10px 10px;
  }
  .price-ranges-in-price-bar {
    display: grid;
  }
  .price-inputs {
    display: flex;
    gap: 10px;
    margin: 10px 10px;
  }
  .price-inputs-go-btn {
    margin: 26px 10px;
  }
  .min-price-box {
    border: 0.2px solid #aaa5a5 !important;
    border-radius: 10px !important;
  }
  .max-price-box {
    border: 0.2px solid #aaa5a5 !important;
    border-radius: 10px !important;
  }
  .range-prices {
    color: #ab102f !important;
    font-weight: 500;
  }
  .price-range-text {
    color: #ab102f !important;
    font-weight: 800 !important;
  }
  .min-price-label {
    color: var(--color-secondary);
    font-size: 15px;
    font-weight: 600;
  }
  .max-price-label {
    color: var(--color-secondary);
    font-size: 15px;
    font-weight: 600;
  }
  .price-rupee-filter {
    font-weight: 600;
    font-size: 17px;
  }
  .search-bar-color {
    border: 0.2px solid #c21538 !important;
    border-radius: 10px !important;
    padding: 0.6rem !important;
    height: 38px !important;
    width: 250px !important;
  }
  .color-sidenav-filter {
    margin: 10px 15px;
  }
  .checkbox-filter {
    border: none !important;
  }
  .brand-title {
    display: flex !important;
    justify-content: space-between;
  }
  .brand-main-title {
    color: #c21538;
    font-weight: 800;
  }
  .colours-title {
    display: flex;
    justify-content: space-between;
  }
  .price-tags-filter-option {
    display: flex !important;
    justify-content: space-between;
  }
}

/*----------------------------------------------------
    Category 4
------------------------------------------------------*/
.category-4-content {
  display: flex;
}

.payment-text-category-4 {
  margin-bottom: 1px;
}

.payments-title-n-subtitle {
  margin-left: 1rem;
}

.payments-title-n-subtitle span {
  font-size: 11px;
}

.card-category-4 {
  box-shadow: none;
}

.category-4-wrapper {
  margin-bottom: 27px;
}

.sal {
  background: #cc1414;
  color: #fff;
  font-size: 10px;
  padding: 0 10px;
  display: table;
  position: absolute;
  text-align: center;
  top: 8px;
  left: 6px;
  z-index: 2;
  min-width: 50px;
  line-height: 22px;
  border-radius: 2px;
  z-index: 5;
  text-transform: uppercase;
}

/*----------------------------------------------------
    Category 5
------------------------------------------------------*/

.category-5 {
  width: 600px !important;
  margin: 4px !important;
}

.navigation-category-5 {
  display: flex;
  gap: 20px !important;
}

.navigation-category-5 span {
  font-size: 13px;
  font-weight: 400;
  color: #676d81;
}

.navigation-category-5 span:hover {
  color: #f4b600;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.mini-section {
  display: flex !important;
}

.mini-category-field {
  box-shadow: none;
}

.mini-section-1-img img {
  width: 80px;
}

.mini-section-1-titles span {
  font-size: 11px;
}

.mini-section-1-titles h6 {
  font-size: 11px;
  margin-bottom: 0 !important;
}

.main-image-product-display {
  width: 10px !important;
}

@media (max-width: 768px) {
  .category-5 {
    display: none;
  }
}








.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.responsive-mx {
  @apply mx-3 sm:mx-5 mt-3 md:mx-[4vw] lg:mx-[8vw];
}

.flex-between-center {
  @apply flex justify-between items-center;
}

.text-color {
  color: #0070BA;
}
