@import "tailwindcss";

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.responsive-mx {
  @apply mx-3 sm:mx-5  md:mx-[4vw] lg:mx-[8vw];
}

.flex-between-center {
  @apply flex justify-between items-center;
}

.text-color {
  color: #0070ba;
}

.dark-text {
  color: #00243f;
}
