@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.responsive-mx {
  @apply mx-3 sm:mx-5  md:mx-[4vw] lg:mx-[8vw];
}

.flex-between-center {
  @apply flex justify-between items-center;
}

.text-color {
  color: #0070ba;
}

.dark-text {
  color: #00243f;
}

.mySwiper {
  width: 100%;
  height: auto;
}




.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}




.menu-button {
  @apply flex items-center w-full text-sm text-left p-2 rounded transition-all duration-300 hover:bg-[#0070ba] hover:text-white font-normal;
}




.custom-pagination {
  margin-top: 1rem; 
  display: flex;
  justify-content: center;
}

.custom-bullet {
  width: 10px;
  height: 10px;
  background: #ddd;
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px;
  opacity: 0.7;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-bullet-active {
  background-color: #0070ba; 
  opacity: 1;
}



/* #__next-dev-overlay {
  display: none !important;
} */
