.card-add-text {
  display: grid;
  justify-content: center;
}

.card-add-text:hover {
  color: #fcb700;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.card-add-text p {
  font-size: 20px;
}
.add-icon-address-tab {
  display: flex;
  justify-content: center;
}
.card-current-address {
  background-color: #e5e5e5;
}
.address-title {
  margin: 0 0 0.78571rem;
  text-transform: none;
  font-size: 16px;
  font-weight: 600;
}

.address-details--postal {
  margin: 10px 0 !important;
  font-weight: 500;
}

.phone-number-address-tab {
  display: flex;
  gap: 8px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.company-title {
  margin-top: 0.5rem !important;
  font-weight: 500;
}
.btns-address-tab {
  display: flex;
  gap: 10px;
}

.edit-btn {
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 13px;
  /* padding: 0.5rem 1rem; */
  background-color: #444;
  /* border-color: #444; */
  color: #fff;
}

.delete-btn-address {
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 13px;
  /* padding: 0.5rem 1rem; */
  background-color: transparent;
  border: #635f5f;
  color: #635f5f;
}
