.alertBox--info {
  color: #fff;
}
.alertBox {
  border-radius: 8px !important;
  color: #333;
}
.alertBox--info {
  background-color: #666 !important;
  border-color: #666 !important;
  color: #333;
}
.alertBox {
  border-style: none;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.78571rem;
  padding: 0.78571rem 1.14286rem 0.78571rem 1.14286rem;
  position: relative;
  transition: opacity 0.3s ease-out;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  color: #fff;
}
.alertBox-icon {
  padding-right: 1.14286rem;
}

.alertBox-column {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.alertBox-message {
  margin: 0;
  /* text-align: start; */
  width: 100%;
}

.alertBox-column {
  display: table-cell;
  text-align: start;
  vertical-align: middle;
}

.info-message-icon {
  margin: 5px;
}
.alert-box {
  margin-top: 1rem;
}
