.order-card-btns {
  display: grid;

  padding: 10px;
  margin: 10px 0px;
  gap: 10px;
}

.order-trackpackage button {
  font-size: 12px;
}
.order-card-title {
  font-size: 14px !important;
  font-weight: 500 !important;
}
.order-card-content {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.order-card-content p {
  margin-top: 5px !important;
  font-size: 15px;
}

@media (max-width: 568px) {
  .order-card-content p {
    margin-top: -10px !important;
    font-size: 16px;
  }
}
